[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
python-dotenv = "*"
flask-wtf = "*"
requests = "*"
bs4 = "*"
lxml = "*"
requests-html = "*"
icalendar = "*"

[requires]
python_version = "3.6"
